{% extends 'base.html' %}
{% block title %}Password Done{% endblock title %}

{% block content %}

<section id="register">
    <div class="container my-4">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="card">
                    <div class="card-header display-6">Password Done</div>
                    <div class="card-body">
                        <p class="lead my-3">
                            Your Password has been set. You may go ahead and login.
                        </p>
                        
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'index' %}" class="btn btn">Go back home</a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
